.footer {
    padding-bottom: 52px;
}
.footer-wrap {
    padding: 50px 50px 0;
    background: url(../img/sun.png) no-repeat;
    background-position: 80% 100%;
    background-color: #333;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.footer-left {
    padding-right: 120px;
    padding-bottom: 50px;
    width: 40%;
}
.footer-copyright, .footer-left-descr {
    margin: 0 0 30px;
}
.confident-policy {
    margin: 0;
    color: #cc9933;
}
.footer-middle {
    width: 57%;
}
.footer-address {
    margin: 0 0 30px;
}
.footer-tels {
    margin-bottom: 30px;
    color: #cc9933;
}
.footer-tel {
    margin: 0;
}
.footer-mail {
    margin: 0;
    color: #cc9933;
}
.footer-list-socials-links-item {
    margin-bottom: 5px;
}
.footer-list-item-link {
    background-position: center;
    width: 30px;
    height: 30px;
    display: inline-block;
}
.footer-list-item-link-trip {
    background: url(../img/tripadvisor.png) no-repeat;
}
.footer-list-item-link-twitter {
    background: url(../img/twitter.png) no-repeat;
}
.footer-list-item-link-facebook {
    background: url(../img/facebook.png) no-repeat;
}
.footer-list-item-link-vk {
    background: url(../img/social.png) no-repeat;
}
.footer-list-item-link-google {
    background: url(../img/google-plus-social-logotype.png) no-repeat;
}
.footer-list-item-link:hover {
    border-bottom: none;
    opacity: 0.5;
	transition: 0.3s;
}
@media (max-width: 840px) {
    .footer-wrap {
        flex-wrap: wrap;
    }
    .footer-left {
        width: auto;
    }
    .footer-middle {
        margin-bottom: 40px;
        margin-right: 50px;
        width: auto;
    }
}
@media (max-width: 600px) {
    .footer-left {
        padding: 0;
        margin-bottom: 30px;
    }
    .footer-middle {
        margin-right: 0;
    }
}